.slick .slick-prev:before,
.slick .slick-next:before {
  font-size: 50px;
  color: #26a69a;
}

.slick .slick-arrow {
  z-index: 100;
}

.slick .slick-arrow.slick-prev {
  left: -12px;
  color: #26a69a;
}

.slick .slick-arrow.slick-next {
  right: 17px;
  color: #26a69a;
}
